<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.email %>!</h1>
    <p>We're sorry to say that <%= @job.title %> was cancelled! Look around for more <%= link_to "here", jobs_path %></p>

    <p>- Job Town</p>
  </body>
</html>
